<a href="https://colab.research.google.com/github/kasa-js/pert-3/blob/main/Tugas_pert_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
data = {'Nama': ['Arlian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
        'Gender': ['Laki-lai', 'Perempuan', 'Perempuan', 'Laki-laki'],
        'No Telp': ['081267001022', '087823560918', '089654009102', '082267018967']}
df = pd.DataFrame(data)
print(df)

                 Nama     Gender       No Telp
0      Arlian Purnama   Laki-lai  081267001022
1  Alisa Dityaningrum  Perempuan  087823560918
2      Kiki Anggraeni  Perempuan  089654009102
3     Rizky Kurniawan  Laki-laki  082267018967

In [5]:
data = {'Nama': ['Arlian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
        'Gender': ['Laki-lai', 'Perempuan', 'Perempuan', 'Laki-laki'],
        'No Telp': ['081267001022', '087823560918', '089654009102', '082267018967'],
        'Tugas': [80,89,76,80],
        'UTS': [88,78,90,81],
        'UAS': [90,89,85,82],}
df = pd.DataFrame(data)
print(df)

                 Nama     Gender       No Telp  Tugas  UTS  UAS
0      Arlian Purnama   Laki-lai  081267001022     80   88   90
1  Alisa Dityaningrum  Perempuan  087823560918     89   78   89
2      Kiki Anggraeni  Perempuan  089654009102     76   90   85
3     Rizky Kurniawan  Laki-laki  082267018967     80   81   82

In [6]:
data = {'Nama': ['Arlian Purnama', 'Alisa Dityaningrum', 'Kiki Anggraeni', 'Rizky Kurniawan'],
        'Gender': ['Laki-lai', 'Perempuan', 'Perempuan', 'Laki-laki'],
        'No Telp': ['081267001022', '087823560918', '089654009102', '082267018967'],
        'Tugas': [80,89,76,80],
        'UTS': [88,78,90,81],
        'UAS': [90,89,85,82],
        'Nilai_Akhir':[0,0,0,0]}


df = pd.DataFrame(data)

# Hitung nilai akhir
df['Nilai_Akhir'] = df['Tugas'] * 0.3 + df['UTS'] * 0.3 + df['UAS'] * 0.4

print(df)

                 Nama     Gender       No Telp  Tugas  UTS  UAS  Nilai_Akhir
0      Arlian Purnama   Laki-lai  081267001022     80   88   90         86.4
1  Alisa Dityaningrum  Perempuan  087823560918     89   78   89         85.7
2      Kiki Anggraeni  Perempuan  089654009102     76   90   85         83.8
3     Rizky Kurniawan  Laki-laki  082267018967     80   81   82         81.1